.Sidebar {
    background-color: rgb(152, 230, 255);
    min-height: 50vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: left;
    justify-content: right;
}