.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: blue;
  color: white;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(6px + 2vmin);
}

.App-banner {
  background-color: black;
  color: white;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(6px + 2vmin);
}


.App-footer {
  background-color: blue;
  color: white;
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}
